<%- include("../components/head"); %>
<body>
	<div id="content" class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>Databases</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDatabase">Tambahkan DB</button>

                <div class="modal fade" id="addDatabase" tabindex="-1" aria-labelledby="addDatabase" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addDatabase">Tambahkan
                                    DB
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <form action="/home/add-database/" method="POST">
                               		<div class="mb-3">
                                        <label for="nama" class="form-label">Nama DB</label>
                                        <input required="on" autocomplete="off" type="text" class="form-control" id="nama" name="nama" autofocus="on">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-secondary"><i class="bi bi-x-diamond-fill"></i> Reset Form</button>
                                        <button type="submit" class="btn btn-primary"><i class="bi bi-save-fill"></i> Simpan</button>
                                    </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#importDB">Import DB</button>
                <a class="btn btn-success" href="/home/export-db">Export DB</a>

                <div class="modal fade" id="importDB" tabindex="-1" aria-labelledby="importDB" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="importDB">Import
                                    DB
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <form enctype="multipart/form-data" action="/home/import-db/" method="POST">
                               		<div class="mb-3">
                                        <label for="input-db" class="form-label">DB</label>
                                        <input required="on" autocomplete="off" type="file" accept=".zip" class="form-control" id="input-db" name="input-db" autofocus="on">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-secondary"><i class="bi bi-x-diamond-fill"></i> Reset Form</button>
                                        <button type="submit" class="btn btn-primary"><i class="bi bi-save-fill"></i> Simpan</button>
                                    </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="row mt-sm-3">
			<div class="col-sm-12">
				<table class="table table-dark table-hover">
					<caption class="text-white">Databases</caption>
					 <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Name</th>
					      <th scope="col">More</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<% if (body.databases != null) { %>
						    <% for (let i = 0; i < body.databases.length; i++) { %>
		                        <tr>
		                            <th scope="row">
		                                <%= i + 1 %>
		                            </th>
		                            <th class="name">
		                                <%= body.databases[i] %>
		                            </th>
		                            <th>
		                            	<a class="btn btn-primary" href="/home/show/<%= body.databases[i] %>"><i class="bi bi-three-dots"></i> Detail</a>
		                            	<a class="btn btn-danger" onclick="return confirm('Yakin, ingin menghapus database ini?')" href="/home/<%= body.databases[i] %>/delete"><i class="bi bi-x-diamond-fill"></i> Hapus Database</a>
		                            </th>
		                        </tr>
							<% } %>
						<% } %>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
    <script src="/assets/js/script.js"></script>
</body>